flask
itsdangerous==2.0.1
python-dotenv
flask_wtf
wtforms
flask_login
flask_mail
datetime
flask_sqlalchemy
flask_bcrypt
flask_migrate
sqlalchemy
alembic
mysqlclient
mysql-connector-python
email_validator
pillow
gunicorn
flask-socketio
boto3
requests