body {
    background: #edc9fb;
    color: #333333;
    margin-top: 5rem;
  }

.glow-bg {
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: glowingBackground 5s infinite alternate;
}

@keyframes glowingBackground {
    0% {
        background-color: #ff6347; /* Start color */
        box-shadow: 0 0 10px #ff6347; /* Add glow effect */
    }
    100% {
        background-color: #00bfff; /* End color */
        box-shadow: 0 0 20px #00bfff; /* Increase glow effect */
    }
}
  
h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
.bg-steel {
    background-color: #5f788a;
  }
  
.site-header .navbar-nav .nav-link {
    color: #ffffff;
  }
  
.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

.navbar {
    animation: glow 4s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 60px rgb(255, 17, 140);
    }
    to {
        box-shadow: 0 0 60px rgb(197, 8, 235)
    }
}
  
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
.article-title {
    color: #5c0f55;
  }
  
a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
.article-content {
    white-space: pre-line;
  }
  
.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
.article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
.account-heading {
    font-size: 2.5rem;
  }

.post-image {
    max-width: 100%;
    height: 315;
}  

.collapsible-content {
  display: none;
  padding: 10px;
}

.collapsible-button {
  cursor: pointer;
  background-color: #db91e4;
  padding: 5px;
  border: none;
  text-align: right;
}

.chat-column {
  display: flex;
  flex-direction: column;
}

.glow-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
}

.glow-button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 10%, transparent 70%);
  opacity: 0;
  filter: blur(20px);
  transition: opacity 0.3s ease-in-out;
}

.glow-button:hover {
  box-shadow: 0 0 20px #3498db, 0 0 40px #3498db, 0 0 60px #3498db;
}

.glow-button:hover:before {
  opacity: 1;
}

.message.sent {
  background-color: #EAEAEA;
  text-align: right;
  margin: 10px 0;
  padding: 5px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 400px; /* Set a fixed height for the chat container */
}

/* Style for received messages */
.message.received {
  background-color: #FFFFFF;
  text-align: left;
  margin: 10px 0;
  padding: 5px;
}

/* Style for the timestamp */
.timestamp {
  font-size: 12px;
  color: #141414;
}

.messages-container {
  flex-grow: 1;
  overflow-y: auto; /* Enable vertical scrolling */
}

.navigation {
  display: flex;
  justify-content: space-around;
  background-color: #601569;
  padding: 10px;
}

.navigation a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navigation a:hover {
  background-color: #FFFFFF;
  color: #601569;
}

.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.comment {
  margin-bottom: 10px;
  overflow: hidden; /* Clear the floats */
}

.comment p {
  float: left;
  width: 50%; /* Adjust this value as needed */
}

.comment-actions {
  float: right;
  width: 20%; /* Adjust this value as needed */
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.collapsible-content {
  display: none; /* Hide by default */
}

.collapsible-content.active {
  display: block; /* Display when active class is added */
}