<article class="media content-section glass">
    <div id="current-user-info" data-user-id="{{ current_user.id }}"></div>

    <img class="rounded-circle article-img" src="{{ post.author.image_file }}">
    <div class="media-body">
        <div class="article-metadata">
            <strong>
                {% if post.author != current_user %}
                    <a class="mr-2" href="{{ url_for('users.profile', username=post.author.username) }}" style="color: rgb(195, 19, 19);">{{ post.author.username }}</a>
                {% else %}
                    <a class="mr-2" href="{{ url_for('users.account') }}" style="color: rgb(195, 19, 19);">{{ post.author.username }}</a>
                {% endif %}
            </strong>
            <small class="text-muted" style="color: white;">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
        {% if post.media %}
            <img src="{{ post.media }}" class="responsive-image" alt="Responsive Image">
        {% endif %}  

        <div>
            <button id="like-button-{{ post.id }}" onclick="updateLikeCount('increment', {{ post.id }})" {% if current_user.id in post.likes|map(attribute="author")|list %} disabled {% endif %}>
                Like
            </button>
            <button id="dislike-button-{{ post.id }}" onclick="updateLikeCount('decrement', {{ post.id }})" {% if current_user.id not in post.likes|map(attribute="author")|list %} disabled {% endif %}>
                Dislike
            </button> 
            <p id="like-count-{{ post.id }}">{{ post.count_likes() }}</p>
        </div>
        
        <div class="collapsible-content" id="comments-{{ post.id }}">
            
        </div>
        <button class="collapsible-button" data-post-id="{{ post.id }}" onclick="toggleCollapsibleContent({{ post.id }})">COMMENTS</button>
    </div>
</article>