<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<article class="media content-section glass">
    <div id="current-user-info" data-user-id="{{ current_user.id }}"></div>

    <img class="rounded-circle article-img" src="{{ post.author.image_file }}">
    <div class="media-body">
        <div class="article-metadata">
            <strong>
                {% if post.author != current_user %}
                    <a class="mr-2" href="{{ url_for('users.profile', username=post.author.username) }}" style="color: rgb(195, 19, 19);">{{ post.author.username }}</a>
                {% else %}
                    <a class="mr-2" href="{{ url_for('users.account') }}" style="color: rgb(195, 19, 19);">{{ post.author.username }}</a>
                {% endif %}
            </strong>
            <small class="text-muted" style="color: white;">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content|mention_links }}</p>
        {% if post.media %}
            <img src="{{ post.media }}" class="responsive-image" alt="Responsive Image">
        {% endif %}  

        <div class="d-flex justify-content-between align-items-center">
            <div>
                <button id="like-button-{{ post.id }}" onclick="{% if current_user.is_authenticated %} updateLikeCount('increment', {{ post.id }}) {% else %} window.location.href = '{{ url_for('users.login') }}'; {% endif %}" {% if current_user.id in post.likes|map(attribute="author")|list %} disabled {% endif %}>
                    LIKE
                </button>
                <button id="dislike-button-{{ post.id }}" onclick="{% if current_user.is_authenticated %} updateLikeCount('decrement', {{ post.id }}) {% else %} window.location.href = '{{ url_for('users.login') }}'; {% endif %}" {% if current_user.id not in post.likes|map(attribute="author")|list %} disabled {% endif %}>
                    DISLIKE
                </button>
                <span id="like-count-{{ post.id }}">{{ post.count_likes() }}</span>
            </div>
            
            <button id="comment-count-{{ post.id }}" class="collapsible-button" onclick="toggleCollapsibleContent({{ post.id }})">
                COMMENTS {{ post.count_comments() }}
            </button>
        </div>    
        <div class="collapsible-content" id="comments-{{ post.id }}">
                
        </div>
    </div>
</article>