<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<article class="media content-section glass">
    <img class="rounded-circle article-img" src="{{ post.author.image_file }}">
    <div class="media-body">
        <div class="article-metadata">
            {% if post.author != current_user %}
                <a class="mr-2" href="{{ url_for('users.profile', username=post.author.username) }}" style="color: rgb(195, 19, 19);">{{ post.author.username }}</a>
            {% else %}
                <a class="mr-2" href="{{ url_for('users.account') }}" style="color: rgb(195, 19, 19);">{{ post.author.username }}</a>
            {% endif %}
            <small class="text-muted" style="color: white;">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
        {% if post.media %}
            <img src="{{ post.media }}" class="responsive-image" alt="Responsive Image">
        {% endif %}  

        <div>
            <button id="like-button-{{ post.id }}" onclick="updateLikeCount('increment', {{ post.id }})" {% if current_user.id in post.likes|map(attribute="author")|list %} disabled {% endif %}>
                Like
            </button>
            <button id="dislike-button-{{ post.id }}" onclick="updateLikeCount('decrement', {{ post.id }})" {% if current_user.id not in post.likes|map(attribute="author")|list %} disabled {% endif %}>
                Dislike
            </button> 
            <p id="like-count-{{ post.id }}">{{ post.count_likes() }}</p>
        </div>
        
        <button class="collapsible-button" onclick="toggleCollapsibleContent({{ post.id }})">COMMENTS</button>
        <div class="collapsible-content" id="comments-{{ post.id }}">
            {% for comment in post.comments %}
                <p><strong>{{ comment.user.username }}</strong> : {{ comment.text }}</p>
                <!--
                    <div class="comment-actions">
                        {% if current_user == comment.user %}
                            <form class="delete-comment-form" data-comment-id="{{ comment.id }}" data-post-id="{{ post.id }}">
                                <button type="button" class="btn btn-danger btn-sm delete-comment-btn">Delete</button>
                            </form>
                        {% endif %}
                        
                    </div>
                -->
            {% endfor %}

            <form id="comment-form-{{ post.id }}" class="comment-form" onsubmit="submitComment({{ post.id }}); return false;">
                <input type="text" id="comment-input-{{ post.id }}" placeholder="Write a comment...">
                <button type="submit">Comment</button>
            </form>
        </div>
    </div>
</article>
<script src="{{ url_for('static', filename='js/article.js') }}"></script>