{% extends "layout.html" %}
{% block content %}
    <h1>{{ chat.participants[1].username }}</h1>

    <div class="chat-container">
        <div class="messages-container">
            {% for message in messages %}
                <div class="message {% if message.is_sent_by_user(current_user) %}sent{% else %}received{% endif %}">
                    <p><strong>{{ message.message_content }}</strong> {{ message.timestamp }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="input-container">
            <form method="POST" action="{{ url_for('chats.send_message', chat_id=chat.id) }}">
                <input type="text" name="message_content" placeholder="Type your message...">
                <button type="submit" class="send-button">SEND</button>
            </form>
        </div>
    </div>
{% endblock content %}    