{% for comment in post.comments %}
    <p>
        <strong>
            {% if comment.user != current_user %}
                <a class="mr-2" href="{{ url_for('users.profile', username=comment.user.username) }}" style="color: rgb(195, 19, 19);">{{ comment.user.username }}</a>
            {% else %}
                <a class="mr-2" href="{{ url_for('users.account') }}" style="color: rgb(195, 19, 19);">{{ comment.user.username }}</a>
            {% endif %}
        </strong>
        {{ comment.text }}
    </p>
    <!--
        <div class="comment-actions">
            {% if current_user == comment.user %}
                <form class="delete-comment-form" data-comment-id="{{ comment.id }}" data-post-id="{{ post.id }}">
                    <button type="button" class="btn btn-danger btn-sm delete-comment-btn">Delete</button>
                </form>
            {% endif %}
            
        </div>
    -->
{% endfor %}