{% extends "layout.html" %}
{% block content %}
    <h3>LIKES</h3>
    <ul>
        {% for post in logged_in_user_likes %}
            <li>
                <strong>{{ post.post.title }}</strong> liked by {{ post.user.username }}
            </li>
        {% endfor %}
    </ul>

    <h3>COMMENTS</h3>
    <ul>
        {% for post in logged_in_user_comments %}
            <li>
                <strong>{{ post.post.title }}</strong>
                <ul>
                    {% for comment in post.post.comments %}
                        {{ comment.text }} by {{ comment.user.username }}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <h3>SUBSCRIPTIONS</h3>  
    <ul>
        {% for user in logged_in_user_subscriptions %}
            <li>
                <strong>{{ user.subscriber.username }}</strong> subscribed to you
            </li>
        {% endfor %}
    </ul>
{% endblock content %} 