{% extends "layout.html" %}
{% block content %}
    <article class="media content-section glass">
        <img class="rounded-circle article-img" src="{{ user.image_file }}">
        <div class="media-body">
            <h1 style="text-transform:uppercase">{{ user.username }}</h1>
            {% if user.bio != None %}
                <h2>{{ user.bio|mention_links }}</h2>
            {% endif %}    
            <p>{{ user.subscribers|length }}</p>

            <div>
                {% if current_user.username != user.username %}
                    {% if current_user.id in user.subscribers|map(attribute="author")|list %}
                            <a href="{{ url_for('users.subscribe', username=user.username) }}"><i class="fa-solid fa-minus"></i></a>
                        {% else %}
                            <a href="{{ url_for('users.subscribe', username=user.username) }}"><i class="fa-solid fa-plus"></i></a>
                    {% endif %}
                {% endif %}    
            </div>
        </div>
        <a href="{{ url_for('chats.all_chats') }}"><i class="fas fa-envelope"></i></a>
    </article>
    
    {% for post in posts.items %}
        {% with post=post %}
            {% include "article.html" %}
        {% endwith %}
    {% endfor %}  
{% endblock content %}  