{% extends "layout.html" %}
{% block content %}
    <h1 style="text-transform:uppercase">{{ user.username }}</h1>
    {% for post in posts.items %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + post.author.image_file) }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('users.profile', username=post.author.username) }}">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
                <div>
                    {{ post.likes|length }}
                    {% if user.id in post.likes|map(attribute="author")|list %}
                        <a href="{{ url_for('posts.profile_like_post', username=user.username, post_id=post.id) }}"><i class="fa-regular fa-heart"></i></a>
                    {% else %}
                        <a href="{{ url_for('posts.profile_like_post', username=user.username, post_id=post.id) }}"><i class="fa-solid fa-heart"></i></a>
                    {% endif %}
                </div>
            </div>
        </article>
    {% endfor %}  
{% endblock content %}  