{% extends "layout.html" %}
{% block content %}
    <article class="media content-section glass">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + user.image_file) }}">
        <div class="media-body">
            <h1 style="text-transform:uppercase">{{ user.username }}</h1>
            <p>{{ user.subscribers|length }}</p>

            <div>
                {% if current_user.username != user.username %}
                    {% if current_user.id in user.subscribers|map(attribute="author")|list %}
                            <a href="{{ url_for('users.subscribe', username=user.username) }}"><i class="fa-solid fa-minus"></i></a>
                        {% else %}
                            <a href="{{ url_for('users.subscribe', username=user.username) }}"><i class="fa-solid fa-plus"></i></a>
                    {% endif %}
                {% endif %}    
            </div>
        </div>
        <a href="{{ url_for('chats.all_chats') }}"><i class="fas fa-envelope"></i></a>
    </article>
    
    {% for post in posts.items %}
        <article class="media content-section glass">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + post.author.image_file) }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('users.profile', username=post.author.username) }}" style="color: rgb(195, 19, 19);">{{ post.author.username }}</a>
                    <small class="text-muted" style="color: white;">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
                {% if post.image_file %}
                    <img class="post-image" src="https://cdn.britannica.com/14/4814-004-7C0DF1BB/Flag-Ukraine.jpg" alt="Post Image">
                {% endif %}  
                
                <script>
                    function updateLikeCount(action, post_id) {
                        jQuery.ajax({
                            type: 'POST',
                            url: '/post/' + post_id + '/like',
                            data: {'action': action},
                            success: function(response) {
                                jQuery('#like-count-' + post_id).text(response.likes);
                                toggleLikeButtons(post_id, action);
                            },
                            error: function(error) {
                                console.error(error);
                            }
                        });
                    }
                    
                    function toggleLikeButtons(post_id, action) {
                        var likeButton = document.getElementById('like-button-' + post_id);
                        var dislikeButton = document.getElementById('dislike-button-' + post_id);
                    
                        if (action === 'increment') {
                            likeButton.disabled = true;
                            dislikeButton.disabled = false;
                        } else if (action === 'decrement') {
                            likeButton.disabled = false;
                            dislikeButton.disabled = true;
                        }
                    }
                    </script>
                <div>
                    <button id="like-button-{{ post.id }}" onclick="updateLikeCount('increment', {{ post.id }})" {% if current_user.id in post.likes|map(attribute="author")|list %} disabled {% endif %}>
                        Like
                    </button>
                    <button id="dislike-button-{{ post.id }}" onclick="updateLikeCount('decrement', {{ post.id }})" {% if current_user.id not in post.likes|map(attribute="author")|list %} disabled {% endif %}>
                        Dislike
                    </button> 
                </div>
            </div>
        </article>
    {% endfor %}  
{% endblock content %}  