{% extends "layout.html" %}
{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.searched.label(class="form-control-label") }}

                {% if form.searched.errors %}
                    {{ form.searched(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.searched.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.searched(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-danger") }}
        </div>
    </form>

    {% if search_results %}
        <h2>FOUND:</h2>
        <ul>
            {% for user in search_results %}
                <a class="mr-2" href="{{ url_for('users.profile', username=user.username) }}">{{ user.username }}</a>
            {% endfor %}
        </ul>
    {% else %}
        <p>No matching usernames found.</p>
    {% endif %}

{% endblock content %}    